body {
    background-image: url('/assets/images/dogBoneBackground.jpg');
    background-repeat: repeat;
    background-size:cover;
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
}

.navbar {
   float:right;
}
